header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4054b4; /* Update background color */
}

.site-name {
    margin: 0;
    font-family: Arial, sans-serif; /* Use Montserrat font */
    font-size: 32px;
    font-weight: 700;
    color: #ffffff; /* Update text color */
}

.account-name {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #b1afc5;
}

.logout-btn {
    display: inline-block;
    background-color: #fff;
    color: #1c2331;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}

.logout-btn:hover {
    background-color: #f8f8f8;
}

.header-right {
    display: flex;
    align-items: center;
}
.header-menu {
    font-family: Arial, sans-serif; /* Use Montserrat font */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 900px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;

}

.header-menu ul {
    margin: 0;
    padding: 0;
    list-style: none; /* Remove li markers */
    display: flex;
}

.header-menu a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.header-menu a:hover {
    text-decoration: underline;
}
