.report-table {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            border-collapse: collapse;
            width: 30%;
        }

        .report-table th, td {
            border-bottom: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }

        .report-table tr:last-child {
            border-bottom: none;
        }

        .report-table th:first-child, td:first-child {
            padding-left: 20px;
        }

        .report-table th:last-child, td:last-child {
            padding-right: 0;
        }